<%- include("partials/header") -%>
<section id="products">
    <div class="container">
        <span class="dir"> Home </span>
        <h1> In primo piano: </h1>
        <div class="linea"></div>
        <div class="row">
            <% for(var i=0; i<8; i++) { %>
            <div class="col-lg-3 col-md-6">
                <div id="<%= i %>" class="card" style="width: 15rem;">
                    <img class="card-img-top" src="<%= schemaJS[i].images.medium %>" alt="Card image cap">
                    <hr class="line">
                    <div class="card-body">
                        <h5 class="card-title"><%= schemaJS[i].name %></h5>
                        <p class="card-text"> <%= schemaJS[i].descriptions.short %></p>
                        <span class="full-price"> € <%= schemaJS[i].price.sell %> </span>

                        <!-- DA mostrare a mouseover -->
                        <div class="hidden-bottom">
                            <button type="button" class="btn btn-warning add-cart-btn"> <i
                                    class="fas fa-shopping-cart"></i> <a href="<%= schemaJS[i].url %>"> Add to CART </a>
                            </button>
                            <div class="bottom-card">
                                <img class="small-imgs" src="<%= schemaJS[i].images.small %>" alt="small-img">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <% } %>

        </div>
    </div>
</section>



<%- include("partials/footer") -%>